* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container .header {
  width: 100%;
  height: 50px;
  background: red;
}

.container .main {
  flex: 1;
  overflow: hidden;
}

.container .footer {
  width: 100%;
  height: 50px;
  background: blue;
}

.inner-box {
  position: relative;
}

.inner-box .pull-up, .inner-box .pull-down {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #eee;
}

.inner-box .pull-up {
  bottom: -50px;
}

.inner-box .pull-down {
  top: -50px;
}

.list li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #999;
}
